
.ipynb_checkpoints/2016_bonds-checkpoint.ipynb
.ipynb_checkpoints/New_calculation-checkpoint.ipynb
.ipynb_checkpoints/Prices_import_IRR_calculation-checkpoint.ipynb
.ipynb_checkpoints/thesis_library-checkpoint.py
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Visualisation-checkpoint.ipynb
1.3/.ipynb_checkpoints/powell_rand_9-checkpoint.csv
__pycache__/thesis_library.cpython-36.pyc
__pycache__/thesis_library.cpython-37.pyc
Bootstraped_rates/.DS_Store
Bootstraped_rates/.ipynb_checkpoints/bt_rates_2016-01-04-checkpoint.csv
Bootstraped_rates/.ipynb_checkpoints/bt_rates_2016-01-05-checkpoint.csv
Bootstraped_rates/.ipynb_checkpoints/bt_rates_2016-01-06-checkpoint.csv
Bootstraped_rates/.ipynb_checkpoints/bt_rates_2016-01-11-checkpoint.csv
Data/.ipynb_checkpoints/bonds_accint-checkpoint.csv
Data/.ipynb_checkpoints/bonds_close_prices-checkpoint.csv
Data/.ipynb_checkpoints/bonds_irrs-checkpoint.csv
Data/.ipynb_checkpoints/bonds_maturities-checkpoint.csv
Data/.ipynb_checkpoints/bonds_payments-checkpoint.csv
Data/.ipynb_checkpoints/bonds_prices-checkpoint.csv
Data/.ipynb_checkpoints/diebold_li-checkpoint.csv
Data/.ipynb_checkpoints/principal-checkpoint.csv
Data/.ipynb_checkpoints/rates-checkpoint.csv
Thetas/.ipynb_checkpoints/bfgs_flat_rate-checkpoint.csv
Thetas/.ipynb_checkpoints/bfgs_rand_1-checkpoint.csv
Thetas/.ipynb_checkpoints/cbr_thetas-checkpoint.csv
Thetas/.ipynb_checkpoints/diebold_li-checkpoint.csv
Thetas/.ipynb_checkpoints/diebold_li_old-checkpoint.csv
Thetas/.ipynb_checkpoints/powell_rand_9-checkpoint.csv
Thetas/.ipynb_checkpoints/bfgs_diebold_li-checkpoint.csv
RMSE/.ipynb_checkpoints/rmse-checkpoint.csv
Pictures/RMSE_presentation.png
Pictures/Distance_travelled_presentation.png
Pictures/Bonds_prices_std_presentation.png
Data/.DS_Store
Data/New_data/.DS_Store
Data/New_data/~$Дененжные потоки.xlsx
Data/.DS_Store
.ipynb_checkpoints/new_thesis_library-checkpoint.py
Data/.DS_Store
Data/New_data/.ipynb_checkpoints/bonds_accint-checkpoint.csv
Data/New_data/.ipynb_checkpoints/bonds_clean_prices-checkpoint.csv
Data/New_data/.ipynb_checkpoints/bonds_prices-checkpoint.csv
Data/New_data/.ipynb_checkpoints/principal-checkpoint.csv
.ipynb_checkpoints/New_prices_import-checkpoint.ipynb
.ipynb_checkpoints/New_data_import-checkpoint.ipynb
.ipynb_checkpoints/2016_Prices_import_IRR_calculation-checkpoint.ipynb
.ipynb_checkpoints/2016_calculation-checkpoint.ipynb
.ipynb_checkpoints/New_prices_import-checkpoint.ipynb
Data/New_data/.ipynb_checkpoints/bonds_prices_all-checkpoint.csv
.ipynb_checkpoints/New_prices_import-checkpoint.ipynb
__pycache__/new_thesis_library.cpython-37.pyc
Time/.ipynb_checkpoints/l_bfgs_b_recurrent-checkpoint.csv
Time/.ipynb_checkpoints/nelder_mead_recurrent-checkpoint.csv
__pycache__/new_thesis_library.cpython-36.pyc
Thetas/.ipynb_checkpoints/trust_constr_recurrent-checkpoint.csv
Thetas/.ipynb_checkpoints/powell_recurrent-checkpoint.csv
Thetas/.ipynb_checkpoints/nelder_mead_recurrent-checkpoint.csv
Thetas/.ipynb_checkpoints/l_bfgs_b_rand_4-checkpoint.csv
Thetas/.ipynb_checkpoints/l_bfgs_b_rand_3-checkpoint.csv
Thetas/.ipynb_checkpoints/l_bfgs_b_rand_2-checkpoint.csv
Thetas/.ipynb_checkpoints/l_bfgs_b_rand_1-checkpoint.csv
.ipynb_checkpoints/Preparation_for_calculations-checkpoint.ipynb
Data/New_data/Random_thetas/.ipynb_checkpoints/rand_1-checkpoint.csv
Data/New_data/Random_thetas/.ipynb_checkpoints/rand_10-checkpoint.csv
Data/New_data/.ipynb_checkpoints/bonds_payments-checkpoint.csv
Data/New_data/.ipynb_checkpoints/bonds_irrs-checkpoint.csv
Thetas/.ipynb_checkpoints/l_bfgs_b_diebold_li-checkpoint.csv
Pictures/.ipynb_checkpoints/NSComponents-checkpoint.tex
.ipynb_checkpoints/Data Visualization-checkpoint.ipynb
.ipynb_checkpoints/Gradient_debug-checkpoint.ipynb
.ipynb_checkpoints/New_Visualization-checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/Results Visualisation-checkpoint.ipynb
.ipynb_checkpoints/New_Visualization-checkpoint.ipynb
.ipynb_checkpoints/New_Visualization-checkpoint.ipynb
Data/New_data/.ipynb_checkpoints/bonds_prices_all_with_problems-checkpoint.csv
Pictures/.ipynb_checkpoints/Bonds-checkpoint.tex
.ipynb_checkpoints/New_Visualization-checkpoint.ipynb
.ipynb_checkpoints/Visualization attempt-checkpoint.ipynb
Data/New_data/.ipynb_checkpoints/bonds_prices_3_month-checkpoint.csv
.ipynb_checkpoints/New_Visualization-checkpoint.ipynb
Data/New_data/.ipynb_checkpoints/manousopoulos-checkpoint.csv
.ipynb_checkpoints/New_Visualization-checkpoint.ipynb
.ipynb_checkpoints/Optimisation bedug-checkpoint.ipynb
Thetas/.ipynb_checkpoints/l_bfgs_b_recurrent-checkpoint.csv
