
.ipynb_checkpoints/2016_bonds-checkpoint.ipynb
.ipynb_checkpoints/New_calculation-checkpoint.ipynb
.ipynb_checkpoints/Prices_import_IRR_calculation-checkpoint.ipynb
.ipynb_checkpoints/thesis_library-checkpoint.py
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Visualisation-checkpoint.ipynb
1.3/.ipynb_checkpoints/powell_rand_9-checkpoint.csv
__pycache__/thesis_library.cpython-36.pyc
__pycache__/thesis_library.cpython-37.pyc
Bootstraped_rates/.DS_Store
Bootstraped_rates/.ipynb_checkpoints/bt_rates_2016-01-04-checkpoint.csv
Bootstraped_rates/.ipynb_checkpoints/bt_rates_2016-01-05-checkpoint.csv
Bootstraped_rates/.ipynb_checkpoints/bt_rates_2016-01-06-checkpoint.csv
Bootstraped_rates/.ipynb_checkpoints/bt_rates_2016-01-11-checkpoint.csv
Data/.ipynb_checkpoints/bonds_accint-checkpoint.csv
Data/.ipynb_checkpoints/bonds_close_prices-checkpoint.csv
Data/.ipynb_checkpoints/bonds_irrs-checkpoint.csv
Data/.ipynb_checkpoints/bonds_maturities-checkpoint.csv
Data/.ipynb_checkpoints/bonds_payments-checkpoint.csv
Data/.ipynb_checkpoints/bonds_prices-checkpoint.csv
Data/.ipynb_checkpoints/diebold_li-checkpoint.csv
Data/.ipynb_checkpoints/principal-checkpoint.csv
Data/.ipynb_checkpoints/rates-checkpoint.csv
Thetas/.ipynb_checkpoints/bfgs_flat_rate-checkpoint.csv
Thetas/.ipynb_checkpoints/bfgs_rand_1-checkpoint.csv
Thetas/.ipynb_checkpoints/cbr_thetas-checkpoint.csv
Thetas/.ipynb_checkpoints/diebold_li-checkpoint.csv
Thetas/.ipynb_checkpoints/diebold_li_old-checkpoint.csv
Thetas/.ipynb_checkpoints/powell_rand_9-checkpoint.csv
2016_bonds.ipynb
